@model IEnumerable<SuperHeroProject.Models.SuperHero>

@{
    ViewData["Title"] = "Index";
}

    <div class="container bg-dark" style="margin-top:20px ">
        <div class="text-center">
            <h1>Index</h1>
            <a asp-action="Create">Create New</a>
        </div>
        <table class="table" style="max-width:100%">
            <thead>
                <tr class="table-dark">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AlterEgo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrimaryAbility)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SecondaryAbility)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Catchphrase)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-dark">
                        <td>
                            @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlterEgo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryAbility)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecondaryAbility)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Catchphrase)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

